<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="../index.html"><img src="../images/back.png" alt="" width="100"></a>

    <h1>Путешествие по книжному миру</h1>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/jWryYpRmcYw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen=""></iframe>
    <p>
        "Учитесь и читайте. Читайте книги серьёзные. Жизнь сделает остальное", - писал Ф. М. Достоевский. Книжный мир с удовольствием поможет книголюбам претворить в жизнь этот призыв и предложит самые разные книжные новинки и для серьёзного, и для лёгкого чтения. Классика и современные авторы, зарубежная и отечественная литература, детективы и любовная проза - всё это можно найти в нашем магазине. Совершите путешествие в книжный мир".
    </p>

    <h2>Новое поступление</h2>
    <video src="../video/3.mp4" controls loop autoplay muted width="250"></video>

    <h3>Как нас найти</h3>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2997.0524256321423!2d69.267514115654!3d41.3077231088924!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x38ae8b212a6501a9%3A0x3472c5bd080eedb1!2z0JrQvdC40LbQvdGL0Lkg0LzQuNGA!5e0!3m2!1sru!2s!4v1655803485194!5m2!1sru!2s" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    
</body>
</html>