* {
    margin: 0;
    padding: 0;
}

.box1 {
    width: 100px;
    height: 100px;
    border: 3px solid red;
}

.box2 {
    width: 400px;
    height: 200px;
    border: 6px dashed green;
    /* padding: 10px 20px 40px 50px; */
    /* padding: 10px 20px 40px; */
    /* padding: 10px 20px; */
    padding: 10px;
    box-sizing: border-box;
    /* margin: 10px 20px 30px 50px; */
    /* margin: 10px 20px 30px; */
    /* margin: 10px auto 30px; */
    /* margin: 10px auto;   */
    /* margin: auto; */
    /* margin: 10px; */
    margin-top: 50px;
}

.box3 {
    width: 170px;
    height: 50px;
    border: 4px dotted orangered;
}

