<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Занимательная греция</title>
    <link rel="stylesheet" href="../css/books.css">
</head>
<body>
<div class="wrapper">
    <div class="container">
        <div class="left_box">
            <div class="box books_title">
                <img class="books_cover" src="../images/greece.jpg" alt="">
            </div>
            <div class="box button">
                <div class="button_back"><a href="../index.html">Назад</a></div>
            </div>
        </div>
        <div class="right_box">
            <h1>"Занимательная Греция"</h1>
            <h2>Описание книги:</h2>
            <p>
                Михаил Леонович Гаспаров (1935–2005) – филолог-классик, литературовед, историк античной литературы и русской поэзии, переводчик античной, средневековой и новой поэзии и прозы. «Занимательная Греция» – своеобразная энциклопедия древнегреческой культуры, в шести частях этой увлекательной книги (с IX по 11 в. до н. э.) рассматриваются и политика, и быт, и военное искусство, и философия, и театр, и поэзия – все в неразрывной связи друг с другом и с эпохой.
            </p>
            <h2>Интересные цитаты:</h2>
            <ul>
                <li>В Спарте, говорят, был закон о трех наказаниях: за безбрачие, за поздний брак и за дурной брак. А в Афинах однажды Солона спросили: «Какое ты назначаешь наказание за безбрачие?» — и Солон ответил: «Брак».</li>
                <li>Если мы будем наказывать тех, кто нас любит, то что же нам делать с теми, кто нас не любит?</li>
                <li>Словно обоюдоострый меч, одиночество защищает вас, но в то же время незаметно ранит изнутри.</li>
                <li>На Крите когда проклинают врага, то желают ему дурных привычек.</li>
                <li>Прогресс науки, — сказал один современный математик, — не в том, что мы умеем делать, чего раньше не умели, а в том, что сейчас каждый умеет делать то, что раньше умели лишь талантливые.</li>
                <li>Кому мало малого — тому мало всего.</li>
                <li>Спартанец спрашивает не сколько врагов, а где они</li>
            </ul>
            <h3>Ссылки:</h3>
            <p>
                Купить и скачать книгу на <a href="https://www.litres.ru/mihail-gasparov/zanimatelnaya-greciya-kapitoliyskaya-volchica-23130138/" target="_blank">литрес</a>
            </p>
            
        </div>
    </div>
</div>

</body>
</html>