<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Большое волшебство</title>
    <link rel="stylesheet" href="../css/books.css">
</head>
<body>
<div class="wrapper">
    <div class="container">
        <div class="left_box">
            <div class="box books_title">
                <img class="books_cover" src="../images/magic.jpg" alt="">
            </div>
            <div class="box button">
                <div class="button_back"><a href="../index.html">Назад</a></div>
            </div>
        </div>
        <div class="right_box">
            <h1>"Большое волшебство"</h1>
            <h2>Описание книги:</h2>
            <p>
                Элизабет Гилберт – популярная американская писательница, автор всемирно известной книги «Есть, молиться, любить», продержавшейся 199 недель в списке бестселлеров The New York Times. «Большое волшебство» – исследование на тему творчества: какова его природа, какую роль оно играет в нашей повседневной жизни, откуда берутся идеи, как преодолеть страх и начать творить. По мнению автора, внутри каждого из нас таятся необычные сокровища, которыми нас наградила природа. И наша задача – вытащить их на свет. А что для этого нужно сделать, объяснит эта практичная книга, полная ярких примеров и удивительных открытий.
            </p>
            <h2>Интересные цитаты:</h2>
            <ul>
                <li>Найдите что-нибудь, над чем можно поработать, – неважно что, но обязательно возьмитесь за дело. Не сидите сложа руки.</li>
                <li>У меня годы ушли на то, чтобы разобраться, зато теперь я знаю точно: если я не создаю что-то активно, то, скорее всего, активно что-то разрушаю (себя, отношения, собственный душевный покой).</li>
                <li>Аккуратнее с чувством собственного достоинства, вот что я вам скажу. Оно не всегда вам друг.</li>
                <li>Ваша творческая работа – не ребенок! Если уж на то пошло, это вы ее ребенок.</li>
                <li>Вдохновение приходит и уходит, и вы должны позволить ему это.</li>
                <li>Важнее сделать до конца, чем сделать хорошо.</li>
                <li>Как говорится, защищай свои несовершенства, и они твои навсегда.</li>
            </ul>
            <h3>Ссылки:</h3>
            <p>
                Купить и скачать книгу на <a href="https://www.litres.ru/elizabet-gilbert/bolshoe-volshebstvo/" target="_blank">литрес</a>
            </p>
        </div>
    </div>
</div>
</body>
</html>