<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>О чем я говорю, когда говорю о беге</title>
    <link rel="stylesheet" href="../css/books.css">
</head>
<body>
<div class="wrapper">
    <div class="container">
        <div class="left_box">
            <div class="box books_title">
                <img class="books_cover" src="../images/murakami.jpg" alt="">
            </div>
            <div class="box button">
                <div class="button_back"><a href="../index.html">Назад</a></div>
            </div>
        </div>
        <div class="right_box">
            <h1>"О чем я говорю, когда говорю о беге"</h1>
            <h2>Описание книги:</h2>
            <p>
                Книга самого знаменитого мастера современной японской литературы, собрание, по его словам, «зарисовок о беге, но никак не секретов здорового образа жизни». С той же фирменной легкостью и недосказанностью, виртуозно балансируя на грани бытового очерка
                и аллегории, Мураками фиксирует свои размышления о беге, приобретающем в силу ежедневного повторения «некую медитативную сущность». «Искренне писать о беге, – говорит он, – означает искренне писать о самом себе».
            </p>
            <h2>Интересные цитаты:</h2>
            <ul>
                <li>Боль неизбежна. Страдание личный выбор каждого.</li>
                <li>Душевная боль – вот та цена, которую мы платим за свою независимость.</li>
                <li>Словно обоюдоострый меч, одиночество защищает вас, но в то же время незаметно ранит изнутри.</li>
                <li>Самое главное – это не скорость и не расстояние. Самое главное – постоянство: бегать ежедневно, без перерывов и выходных.</li>
                <li>Единственный способ оставаться восемнадцатилетним до самой смерти - умереть в восемнадцать.</li>
                <li>Бег помогает мне понять, насколько всетаки я слабое и ограниченное существо.</li>
                <li>Мышцы наращиваются тяжело, но сходят легко. Жир наращивается легко, но сходит тяжело. Факт неприятный, но от этого он не перестает быть фактом.</li>
                <li>Так уж устроена школа. Самая важная вещь, которую мы там узнаем, заключается в том, что все самое важное мы узнаем не там.</li>
            </ul>
            <h3>Ссылки:</h3>
            <p>
                Купить и скачать книгу на <a href="https://www.litres.ru/haruki-murakami/o-chem-ya-govoru-kogda-govoru-o-bege/" target="_blank">литрес</a>
            </p>
        </div>
    </div>
</div>

</body>
</html>